/* *{
    border: 1px solid black;
} */
*{
    margin: 0;
    padding: 0;  
}

body{
    margin: 0px;
    background-color: floralwhite;
}

#contenido{
    max-width: 700px;
    height: 1000px;
    margin: 0px auto;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    padding: 10px;
}

#imagenHistoria{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 20px;
    position: relative;
}

#imagenHistoria img{
    width: 90%;
    height: auto;
    margin-top: 30px;
}

#pictograma{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 40px;
}

#imagenReducida{
    height: 400px!important;
}

#h600{
    height: 600px!important;
}

.pictoPequeño{
    width: 75px!important;
    height: 75px!important;
    margin: 0px!important;
}

.noGap{
    gap: 0!important;
}

.picto img{
    width: 59px;
    height: 59px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

#frase{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
}

.textfrase{
    display: none;
    font-size: 1.5rem;
}

#flechas{
    height: auto;
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
}

.flecha{
    width: 50px;
    height: 50px;
}

.flecha img{
    width: 50px;
    height: 50px;
}

#pagina{
    width: 100%;
    height: auto;
    text-align: right;
    font-size: 0.9rem;
}

#pagina p {
    margin-right: 20px;
    margin-top: 10px;
}

/* RESPONSIVE */
@media only screen and (max-width: 600px) { 

    #pictograma{
       margin-top: 20px; 
       gap: 30px;
    }

    .column{
        flex-direction: column;
    }
    
    .flex{
        display: flex;
        gap: 30px;
    }

    .picto img{
        margin-left: 10px;
    }

    .textfrase{
        font-size: 1.3rem;
    }

    #pagina {
        font-size: 1.3rem;
    }
    .pictoPequeño {
        width: 50px!important;
        height: 50px!important;
    }
    
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    
    #pictograma {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .menosMargen{
        margin-top: 40px!important;
        margin-bottom: 20px!important;
    }

    .column{
        flex-direction: column;
    }

    .flex{
        display: flex;
    }

    .picto img {
        width: 100px;
        height: 100px;
        margin: 0 22px 0 30px;
    }

    .textfrase{
        font-size: 1.5rem;
    }

    #pagina {
        font-size: 1.5rem;
    }  

}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    
    #pictograma {
        margin-top: 80px;
        margin-bottom: 80px;
    } 

    .menosMargen{
        margin-top: 40px!important;
        margin-bottom: 20px!important;
    }

    .column{
        flex-direction: column;
    }

    .flex{
        display: flex;
        gap: 30px;
    }

    .picto img {
        width: 100px;
        height: 100px;
        margin: 0px 10px
    }

    .textfrase{
        font-size: 1.5rem;
    }
    
    #pagina {
        font-size: 1.5rem;
    }
    
}

@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    
    #pictograma {
        margin-top: 20px;
        margin-bottom: 40px;
        /* margin: 0% 10px; */
    }

    .menosMargen{
        margin-top: 40px!important;
        margin-bottom: 20px!important;
    }
    
    .column{
        flex-direction: column;
    }

    .flex{
        display: flex;
        gap: 30px;
    }

    .picto img {
        width: 100px;
        height: 100px;
        margin: 0px 15px
    }

    .textfrase{
        font-size: 1.5rem;
    }

    #pagina {
        font-size: 1.5rem;
    }
        
}

@media only screen and (min-width: 1200px) {/* styles for large screens */
    
    #pictograma {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .column{
        flex-direction: column;
    }

    .flex{
        display: flex;
        gap: 30px;
    }

    .picto img {
        width: 100px;
        height: 100px;
        margin: 0px 15px;
    }

    #textfrase{
        font-size: 1.5rem;
    }

    #pagina {
        font-size: 1.5rem;
    }
       
}