#pescado1{
    position: absolute;
    top: 444px;
    left: 365px;
    width: 100px!important;
    height: 25px!important;
    animation: meneo 1s infinite;
}

@keyframes meneo {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(-5deg);}
    50% { transform: rotate(0deg);}
    75% { transform: rotate(5deg);}
    100% { transform: rotate(0deg);}
}

#pescado2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px!important;
    height: 25px!important;
    animation: meneo2 20s infinite;
}

@keyframes meneo2 {
    0% { top: 8%; left: 8%;}
    25% {top: 20%; left: 25%;}
    50% { top: 50%; left: 50%;}
    75% { top: 60%; left: 60%;}
    100% { top: 70%; left: 79%;}
}

/* RESPONSIVE */
@media only screen and (max-width: 600px) {
    /* styles for phones */
    #pescado1{
        position: absolute;
        top: 76%;
        left: 43%;
        width: 100px!important;
        height: 25px!important;
        animation: meneo 1s infinite;
    }
    
    #pescado2{
        position: absolute;
        top: 0;
        left: 0;
        width: 100px!important;
        height: 25px!important;
        animation: meneo2 20s infinite;
    }

    @keyframes meneo2 {
        0% { top: 4vh; left: 8vw;}
        25% {top: 10vh; left: 25vw;}
        50% { top: 24vh; left: 50vw;}
        75% { top: 20vh; left: 60vw;}
        100% { top: 17vh; left: 64vw;}
    }  

}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    /* styles for small tablets */
       #pescado1{
        position: absolute;
        top: 76%;
        left: 45%;
        width: 100px!important;
        height: 25px!important;
        animation: meneo 1s infinite;
    }
   
    #pescado2{
        position: absolute;
        top: 0;
        left: 0;
        width: 100px!important;
        height: 25px!important;
        animation: meneo2 20s infinite;
    }

    @keyframes meneo2 {
        0% { top: 4vh; left: 8vw;}
        25% {top: 10vh; left: 25vw;}
        50% { top: 25vh; left: 50vw;}
        75% { top: 30vh; left: 60vw;}
        100% { top: 32vh; left: 65vw;}
    }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    /* styles for tablets in landscape and small laptops */
    #pescado1{
        position: absolute;
        top: 82%;
        left: 51%;
        width: 100px!important;
        height: 25px!important;
        animation: meneo 1s infinite;
    }
   
    #pescado2{
        position: absolute;
        top: 0;
        left: 0;
        width: 100px!important;
        height: 25px!important;
        animation: meneo2 20s infinite;
    }

    @keyframes meneo2 {
        0% { top: 4vh; left: 8vw;}
        25% {top: 10vh; left: 25vw;}
        50% { top: 25vh; left: 35vw;}
        75% { top: 30vh; left: 40vw;}
        100% { top: 35vh; left: 60vw;}
    }
}