body{
    margin: 0px;
    background-color: floralwhite;
    overflow-y: auto;
   /*  overflow: hidden; */
}

#contenido{
    max-width: 700px;
    height: 1000px;
    margin: 30px auto;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    padding: 10px;
}

#imagenHistoria{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 20px;
    position: relative;
}

#imagenHistoria img{
    width: 90%;
    height: auto;
    margin-top: 30px;
}

#pescado1{
    position: absolute;
    top: 444px;
    left: 365px;
    width: 100px!important;
    height: 25px!important;
    animation: meneo 1s infinite;
}

@keyframes meneo {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(-5deg);}
    50% { transform: rotate(0deg);}
    75% { transform: rotate(5deg);}
    100% { transform: rotate(0deg);}
}

#pescado2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px!important;
    height: 25px!important;
    animation: meneo2 20s infinite;
}

@keyframes meneo2 {
    0% { top: 8%; left: 8%;}
    25% {top: 20%; left: 25%;}
    50% { top: 50%; left: 50%;}
    75% { top: 6%; left: 60%;}
    100% { top: 70%; left: 80%;}
}

#pescado3 {
    position: absolute;
    transform: rotate(268deg);
    top: 0px;
    left: 0px;
    width: 200px!important;
    height: 100px!important;
    animation: meneo3 20s infinite;
}

@keyframes meneo3 {
    0% {
        transform: translate(70px, 125px) rotate(320deg);
    }
    25% {
        transform: translate(200px, 300px) rotate(320deg);
    }
    50% {
        transform: translate(300px, 125px) rotate(250deg);
    }
    75% {
        transform: translate(400px, 300px) rotate(268deg);
    }
    100% {
        transform: translate(500px, 125px) rotate(268deg);
    }
}

#pictograma{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.picto{
    width: 100px;
    height: 100px;
    margin: 0 30px 0 30px;
}

.picto img{
    width: 100px;
    height: 100px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

#frase{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
}

#text1{
    display: none;
    font-size: 26px;
}

#text2{
    display: none;
    font-size: 26px;
}

#text3{
    display: none;
    font-size: 26px;
}

#flechas{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.flecha{
    width: 100px;
    height: 50px;
}

.flecha img{
    width: 100px;
    height: 50px;
}

#pagina{
    width: 100%;
    height: auto;
    text-align: right;
    font-size: 26px;
}

/* RESPONSIVE */
@media only screen and (max-width: 600px) {
    /* styles for phones */
    #pescado1{
        position: absolute;
        top: 76%;
        left: 40%;
        width: 100px!important;
        height: 25px!important;
        animation: meneo 1s infinite;
    }
    
    #pictograma{
        flex-direction: column;
        gap: 10px;
    }
    
    #pescado2{
        position: absolute;
        top: 0;
        left: 0;
        width: 100px!important;
        height: 25px!important;
        animation: meneo2 20s infinite;
    }

    @keyframes meneo2 {
        0% { top: 4vh; left: 8vw;}
        25% {top: 10vh; left: 25vw;}
        50% { top: 24vh; left: 50vw;}
        75% { top: 20vh; left: 60vw;}
        100% { top: 17vh; left: 64vw;}
    }
    

}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    /* styles for small tablets */
       /* styles for phones */
       #pescado1{
        position: absolute;
        top: 76%;
        left: 45%;
        width: 100px!important;
        height: 25px!important;
        animation: meneo 1s infinite;
    }
    
    
    #pescado2{
        position: absolute;
        top: 0;
        left: 0;
        width: 100px!important;
        height: 25px!important;
        animation: meneo2 20s infinite;
    }

    @keyframes meneo2 {
        0% { top: 4vh; left: 8vw;}
        25% {top: 10vh; left: 25vw;}
        50% { top: 25vh; left: 50vw;}
        75% { top: 30vh; left: 60vw;}
        100% { top: 32vh; left: 65vw;}
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    /* styles for tablets in landscape and small laptops */
       /* styles for phones */
       #pescado1{
        position: absolute;
        top: 76%;
        left: 45%;
        width: 100px!important;
        height: 25px!important;
        animation: meneo 1s infinite;
    }
    
    
    #pescado2{
        position: absolute;
        top: 0;
        left: 0;
        width: 100px!important;
        height: 25px!important;
        animation: meneo2 20s infinite;
    }

    @keyframes meneo2 {
        0% { top: 4vh; left: 8vw;}
        25% {top: 10vh; left: 25vw;}
        50% { top: 25vh; left: 50vw;}
        75% { top: 30vh; left: 60vw;}
        100% { top: 35vh; left: 70vw;}
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* styles for desktops */
}
@media only screen and (min-width: 1200px) {
    /* styles for large screens */
}